@import "tailwindcss";

:root{
    --white: #FFF;
    --primary: #F59E0B
}

html{
    font-size: 62.5%;
}

.body {
    font-family: "Outfit", sans-serif;
    background-image: url('../public/bg_clima.jpg');
  }